{% extends "base.html" %}

{% block content %}
<div class="container-fluid mt-3">
    <div class="card">
        <div class="card-header">About</div>
        <div class="card-body">
            <h2 class="card-title">Hello There</h2>
            <p class="card-text">This website was built for learning purposes only and mimics some of a generic blog features such as authorization and authentication, commenting, etc. </p>
            <p class="card-text">
                Useful tools include Flask, Bootstrap, SQLite, etc.
            </p>
        </div>
    </div>
</div>

{% endblock %}