:root {
    --primary-back-color: rgb(240, 240, 240);
    --second-back-color: rgb(218, 218, 218);
    --footer-height: 100px;
    --header-height: 120px;
    --body-width: 1250px;
}

* {
    box-sizing: border-box;   
}

html {
    min-height: 100%;
    position: relative;
}

body {
    max-width: var(--body-width);
    margin: 0 auto;
}

body > * {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    flex-direction: column;
    padding: 20px;
    background-color: var(--primary-back-color);
    min-height: calc(100vh - var(--footer-height) - var(--header-height));
}

.header, .footer {
    text-align: center;
    background: var(--second-back-color);
}

.header {
    height: var(--header-height);
    position: sticky;
    top: 0;
}

.footer {
    height: var(--footer-height);
}